* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #090b20d5;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

span {
  font-weight: bold;
  color: #348f66;
}

.total-preco {
  margin-top: 30px;
}